<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
   
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost:9001/icetdb</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"></property>
          
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
          
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
  
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
  
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
          
        <!-- Echo all executed SQL to stdout useful for debugging if set to true-->
        <property name="show_sql">false</property>
          
        <property name="hbm2ddl.auto">validate</property>
   
   		<!-- Classes mapping -->
      	<mapping class="entity.CombatEncounter"/>
      	<mapping class="entity.Rewards"/>
      	<mapping class="entity.Tally"/>
      	<mapping class="entity.Tuple"/>
      	<mapping class="entity.Team"/>
      	<mapping class="entity.TrapHazard"/>
  		<mapping class="entity.CharacterSheet"/>
  		<mapping class="entity.Resistance"/>
  		<mapping class="entity.Creature"/>
  		<mapping class="entity.Stats"/>	
  		<mapping class="entity.Effect"/> 
  		<mapping class="entity.Attack"/>
  		<mapping class="entity.Attack_Type"/>
	   	<mapping class="entity.A_Area"/>
	   	<mapping class="entity.A_Close"/>
	   	<mapping class="entity.A_Melee"/>
	   	<mapping class="entity.A_Range"/>
   	 
    </session-factory>
</hibernate-configuration>

